/* ✨ 全站設定 */

.body-style {

    width: 100%;

    height: 100%;

    -unity-background-scale-mode: scale-and-crop;

    align-items: center;

    justify-content: center;

}



/* 🌫️ 模糊遮罩 (模擬) */

.bg-blur {

    position: absolute;

    top: 0; left: 0; right: 0; bottom: 0;

    background-color: rgba(255, 255, 255, 0.22);

}



/* 🏠 房間視窗容器 */

.room-window {

    align-items: center;

    justify-content: center;

    /* 確保在遮罩之上 */

    z-index: 10; 

}



.container {

    flex-direction: row;



    padding: 40px 60px;

    

    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/big_background1.png"); 

    border-radius: 20px;

}



/* =========================================

   ↗ 右上選單

   ========================================= */

.top-right-menu {

    position: absolute;

    top: 30px; right: 30px;

    z-index: 20;

    

    width: 200px;

    height: 70px;

    border-radius: 30px;

    

    /* 📸 (圖) Blue Menu Bg */

    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/blue_default.png"); 

    

    align-items: center;

    justify-content: center;

    

    font-size: 30px;

    color: rgba(255,255,255,0.95);

    -unity-font-style: bold;

    transition-property: scale, translate;

    transition-duration: 0.12s;

}

.top-right-menu:hover { scale: 1.05; translate: 0 -2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/blue_hover.png"); }

.top-right-menu:active { scale: 0.98; translate: 0 2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/blue_active.png");}



/* =========================================

   👈 左側面板

   ========================================= */

.left-panel {

    flex-direction: column;

    align-items: center;

    margin-right: 60px; /* Unity USS margin-left 改為推開右邊元素 */

}



.map-preview {

    width: 250px;

    height: 300px;

    background-color: #dddddd;

    border-radius: 10px;

    overflow: hidden;

    margin-bottom: 20px;

}



.map-image {

    width: 100%; height: 100%;

    /* 📸 地圖圖 */

    background-image: url("project://database/Assets/Image/2.png");

    -unity-background-scale-mode: scale-and-crop;

}



.map-name-board {

    position: absolute; bottom: 0; left: 0; right: 0;

    background-color: rgba(0, 0, 0, 0.25);

    padding: 10px 0;

    align-items: center; justify-content: center;

}



.map-name-title { color: #fff; font-size: 16px; -unity-font-style: bold; }

.map-name-sub   { color: #fff; font-size: 13px; opacity: 0.9; }



/* 地圖按鈕通用 */

.map-btn {

    width: 250px;

    height: 60px; /* 根據 padding 推算 */

    margin-top: 10px;

    flex-direction: row;

    align-items: center;

    justify-content: center;

    

    border-width: 0;

    background-color: rgba(0,0,0,0);

    

    font-size: 25px;

    color: #ffffff;

    -unity-font-style: bold;

}



.map-btn.green { transition-property: scale, translate; transition-duration: 0.15s; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/green_default.png"); }

.map-btn.green:hover { scale: 1.05; translate: 0 -2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/green_hover.png"); }

.map-btn.green:active { scale: 0.98; translate: 0 2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/green_active.png"); }



.map-btn.yellow { transition-property: scale, translate; transition-duration: 0.15s; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/yellow_default.png"); }

.map-btn.yellow:hover { scale: 1.05; translate: 0 -2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/yellow_hover.png"); }

.map-btn.yellow:active { scale: 0.98; translate: 0 2px;background-image: url("project://database/Assets/Image/UIPanel/HostRoom/yellow_active.png"); }



.btn-icon { width: 20px; height: 20px; margin-right: 10px; }

.icon-arrow { background-image: url("project://database/Assets/Image/UIPanel/HostRoom/arrow.png"); }

.icon-add { background-image: url("project://database/Assets/Image/UIPanel/HostRoom/add-friend.png"); }



/* =========================================

   👉 右側面板

   ========================================= */

.right-panel {

    flex-direction: column;

    align-items: center;

}



.room-title {

    font-size: 35px;

    -unity-font-style: bold;

    color: #f9f8f7;

    -unity-text-align: middle-center;

    width: 350px;

    margin-bottom: 2px;

}



.slots-grid {

    width: 420px;

    height: 380px;

    margin-top: 20px;

    

    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/background.png"); 

    border-radius: 15px;

    padding: 20px 15px;

    

    /* Grid 模擬 */

    flex-direction: row;

    flex-wrap: wrap;

    justify-content: space-between;

    align-content: flex-start;

}



/* Slot 格子 */

.slot {

    width: 185px; /* (420 - 40padding - 10gap)/2 */

    height: 70px;

    margin-bottom: 15px;

    

    flex-direction: row;

    align-items: center;

    justify-content: center;

    

    border-width: 0;

    background-color: rgba(0,0,0,0);

    

    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/player_default.png");

    

    transition-property: translate;

    transition-duration: 0.15s;

}



.slot:hover { translate: 0 -2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/player_hover.png");}

.slot:active { translate: 0 2px; background-image: url("project://database/Assets/Image/UIPanel/HostRoom/player_active.png");}



/* Empty Slot */

.slot.empty {

    /* 📸 (圖) Slot Bg Empty */

    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/player_default.png");

    color: rgba(120, 120, 120, 0.5);

    font-size: 20px;

    -unity-font-style: bold;

    -unity-text-align: middle-center;

}



/* 頭像 */
.avatar-wrap {
    width: 40px; height: 40px;
    margin-right: 10px;
    position: relative;
}

.avatar-img {
    width: 100%; height: 100%;
    border-radius: 20px;
    border-width: 3px;
    border-color: rgba(255,255,255,0.9);
    -unity-background-scale-mode: scale-and-crop;

}
.avatar-img.Shaya { 
    background-image: url("project://database/Assets/Image/Character/Shaya.png");
} 

.avatar-img.Burr { 
    background-image: url("project://database/Assets/Image/Character/Burr.png");
}



/* 房主標記 */

.host-badge {

    position: absolute;

    top: -8px; right: -8px;

    width: 18px; height: 18px;

    background-color: #FFD267;

    border-radius: 9px;

    border-width: 2px;

    border-color: #FFF5DA;

    align-items: center; justify-content: center;

}



.host-icon {

    width: 10px; height: 10px;
    background-image: url("project://database/Assets/Image/UIPanel/HostRoom/icon-home.png");
}



/* 名字與標籤 */

.name-wrap {
    flex-direction: row;
    align-items: center;
}



.player-name {
    font-size: 20px;
    color: #535457;
    -unity-font-style: bold;
}



.you-tag {
    background-color: #fbc156;
    color: #fff;
    font-size: 12px;
    -unity-font-style: bold;
    padding: 2px 6px;
    border-radius: 10px;
    margin-left: 8px;

}