.body-style {
    width: 100%;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.main-menu {
    height: 100%;
    justify-content: center;
    padding-left: 10%;
}

.menu-container {
    flex-direction: column;
}

.menu-btn {
    width: 100%;
    height: 90px;
    margin-bottom: 30px;
    flex-direction: row;
    align-items: center;
    padding-left: 25px;
    border-width: 0;
    background-color: rgba(0, 0, 0, 0);
    transition-property: scale, translate;
    transition-duration: 0.2s;
}

.menu-btn.blue {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/Blue_default.png?fileID=21300000&guid=e01263220d897ce40a77c84ba434a1ea&type=3#Blue_default");
}

.menu-btn.blue:hover {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/Blue_hover.png?fileID=21300000&guid=06d1f097e01a99f40b560c81e2d305bc&type=3#Blue_hover");
    scale: 1.05;
    translate: 0 -2px;
}

.menu-btn.blue:active {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/Blue_active.png?fileID=21300000&guid=ddc6e20624fa3a04ab37b3cc7fe01d91&type=3#Blue_active");
    scale: 0.95;
    translate: 0 0;
}

.menu-btn.orange {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/orange_default.png?fileID=21300000&guid=25a85a6815e848549b52da4aee6b5a30&type=3#orange_default");
}

.menu-btn.orange:hover {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/orange_hover.png?fileID=21300000&guid=f852e54561e551941b6df6a718b40948&type=3#orange_hover");
    scale: 1.05;
    translate: 0 -2px;
}

.menu-btn.orange:active {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/orange_active.png?fileID=21300000&guid=81a7bb1fa40148a41adad2cdb29d5b98&type=3#orange_active");
    scale: 0.95;
}

.icon-img {
    width: 32px;
    height: 32px;
    margin-right: 15px;
    -unity-background-scale-mode: scale-to-fit;
}

.icon-play {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/icon_play.png?fileID=2800000&guid=327850caa80d4ab49acba58dae7781e0&type=3#icon_play");
}

.icon-settings {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/icon_settings.png?fileID=2800000&guid=a390eb5f8e5be1742aa76c4da1a95654&type=3#icon_settings");
}

.icon-trophy {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/icon_trophy.png?fileID=2800000&guid=0097d329a2c4ad94c92647131a19c2a5&type=3#icon_trophy");
}

.icon-back {
    background-image: url("project://database/Assets/Image/UIPanel/MainMenu/icon_back.png?fileID=2800000&guid=7892b4cba9353184c862ae74902e0999&type=3#icon_back");
}

.label {
    color: white;
    font-size: 30px;
    letter-spacing: 5px;
    -unity-font-definition: url("project://database/Assets/TextMesh%20Pro/Fonts/fonts/GenSenRounded2TW-B.otf?fileID=12800000&guid=6f1375bf9fa261a40b77477d1fef5011&type=3#GenSenRounded2TW-B");
}
